.map-pa {
  margin: 4px;
  padding: 4px;
}

.header {
  height: 64px;
  border-bottom: solid #000 0.5px;
}

.dark-header {
  height: 64px;
  border-bottom: solid #aaa 0.5px;
  background-color: #000;
  color: #fff;
}

.body {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.letter-box {
  width: 48px;
  height: 48px;
  text-align: center;
  border: solid #787c7e 2px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 28px;
}

.letter-box-dark {
  width: 48px;
  height: 48px;
  text-align: center;
  border: solid #787c7e 4px;
  border-radius: 4px;
  font-weight: bold;
  font-size: large;
}

.key {
  height: 48px;
  padding: 0px 6px;
  margin: 4px 1px;
  min-width: 28px;
  border: solid #000 2px;
  border-radius: 4px;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}